# pandas 文件数据读取

In [37]:
import pandas as pd
import numpy as np
file_name = "../file/student.csv"
file_table = "../file/p.txt"

## 1、read_csv
* 主要用于读取csv这种以逗号作为分隔符的文件

In [13]:
csv = pd.read_csv(file_name)
# 展示全部内容
print(csv)
# 类型
print(csv.dtypes)
# 维度
print(csv.ndim)
# 形状
print(csv.shape)

  name   sex  math  chinese  english
0    a   boy    80       76       70
1    b  girl    90       65       75
2    c   boy    87       76       60
3    d  girl    75       70       80
4    e   boy    57       60       90
5    f   boy    60       55       88
name       object
sex        object
math        int64
chinese     int64
english     int64
dtype: object
2
(6, 5)

In [33]:
# 指定要获取哪些列的数据
csv = pd.read_csv(file_name,usecols=(0,3))
csv

  name  chinese
0    a       76
1    b       65
2    c       76
3    d       70
4    e       60
5    f       55

### 1.1、文件保存

In [36]:
# index代表是否需要保存行索引
csv.to_csv('../file/student_new.csv',index=False)

## 2、read_table
* 主要用于读取以制表符作为分隔符的文件

In [41]:
table = pd.read_table(file_table)
table
# 其它的用法与read_csv类似

  name   sex  age
0   a1   boy   18
1   b1  girl   19

   ## 3、read_csv 和 read_table的关系

In [44]:
# 两者是可以相互使用
csv = pd.read_csv(file_table,sep='\t')
print(csv)

table = pd.read_table(file_name,sep=',')
table

  name   sex  age
0   a1   boy   18
1   b1  girl   19

  name   sex  math  chinese  english
0    a   boy    80       76       70
1    b  girl    90       65       75
2    c   boy    87       76       60
3    d  girl    75       70       80
4    e   boy    57       60       90
5    f   boy    60       55       88

## 4、其它

In [48]:
# head(n) 
# tail(n)
# n为整形，代表行数
# 读取前两行数据
print(table.head(2))

# 读取最后两行数据
print(table.tail(2))

  name   sex  math  chinese  english
0    a   boy    80       76       70
1    b  girl    90       65       75
  name  sex  math  chinese  english
4    e  boy    57       60       90
5    f  boy    60       55       88