# pandas文件读取案例

In [69]:
import pandas as pd
import numpy as np
file_name = "../file/student1.csv"

In [158]:
csv = pd.read_csv(file_name)
csv

  name   sex  math  chinese  english
0    a   boy  80.0     76.0     70.0
1    b  girl  90.0     65.0     75.0
2    c   boy  87.0     76.0      NaN
3    d  girl   NaN     70.0     80.0
4    e   boy  57.0      NaN     90.0
5    f   boy  60.0     55.0     88.0

## 1、预处理
**本案例主要解决数据为空的情况**

In [159]:
# 获取各个科目没成绩的同学
isnull = csv[['math','chinese','english']].isnull()
print(csv[ isnull['math'] ])

print(csv[isnull['chinese']])

print(csv[isnull['english']])

# 把各科没成绩的科目，设置为0
csv['math'].fillna(0, inplace=True)
csv['chinese'].fillna(0, inplace=True)
csv['english'].fillna(0, inplace=True)

csv

  name   sex  math  chinese  english
3    d  girl   NaN     70.0     80.0
  name  sex  math  chinese  english
4    e  boy  57.0      NaN     90.0
  name  sex  math  chinese  english
2    c  boy  87.0     76.0      NaN

  name   sex  math  chinese  english
0    a   boy  80.0     76.0     70.0
1    b  girl  90.0     65.0     75.0
2    c   boy  87.0     76.0      0.0
3    d  girl   0.0     70.0     80.0
4    e   boy  57.0      0.0     90.0
5    f   boy  60.0     55.0     88.0

## 2、统计函数

In [160]:
# 计算 三门功课分数之和
csv['sum'] = csv[['math','english','chinese']].sum(axis=1) # csv['math'] + csv['chinese'] + csv['english']

# 计算 三门功课分数的平均值
csv['mean'] = np.ceil(csv['sum']/3)

# 计算 三门功课分数的最大值
csv['max'] = np.max(csv[['math','english','chinese']],axis=1)

# 计算 三门功课分数的最小值
csv['min'] = np.min(csv[['math','english','chinese']],axis=1)
csv

  name   sex  math  chinese  english    sum  mean   max   min
0    a   boy  80.0     76.0     70.0  226.0  76.0  80.0  70.0
1    b  girl  90.0     65.0     75.0  230.0  77.0  90.0  65.0
2    c   boy  87.0     76.0      0.0  163.0  55.0  87.0   0.0
3    d  girl   0.0     70.0     80.0  150.0  50.0  80.0   0.0
4    e   boy  57.0      0.0     90.0  147.0  49.0  90.0   0.0
5    f   boy  60.0     55.0     88.0  203.0  68.0  88.0  55.0

## 3、分组操作

In [166]:
# 分组操作 按照sex进行分组
sex = csv.groupby(by='sex')[['math','chinese','english']]

# 计算各个分组中的统计数据
sex.agg([np.sum,np.max,np.min,np.mean])

       math                   chinese                    english              \
        sum  amax  amin  mean     sum  amax  amin   mean     sum  amax  amin
sex
boy   284.0  87.0  57.0  71.0   207.0  76.0   0.0  51.75   248.0  90.0   0.0
girl   90.0  90.0   0.0  45.0   135.0  70.0  65.0  67.50   155.0  80.0  75.0


      mean
sex
boy   62.0
girl  77.5

In [169]:
# index指向谁为基准进行分组
# values指向哪些列
# aggfunc调用统计函数
math_sex = csv.pivot_table(values=['math','chinese','english'],index=['sex'],aggfunc=['sum','max','min','mean'])
math_sex

         sum                    max                   min                \
     chinese english   math chinese english  math chinese english  math
sex
boy    207.0   248.0  284.0    76.0    90.0  87.0     0.0     0.0  57.0
girl   135.0   155.0   90.0    70.0    80.0  90.0    65.0    75.0   0.0

        mean
     chinese english  math
sex
boy    51.75    62.0  71.0
girl   67.50    77.5  45.0

## 4、排序操作

In [170]:
# 按值排序
# 单列排序 ascending 为布尔值，True为升序 False为倒序
print(csv.sort_values(['math'],ascending=False))

# 多列排序
print(csv.sort_values(['math','english'],ascending=False))

# 在原有csv上进行排序
csv.sort_values(['math'],ascending=False,inplace=True)
print(csv)

  name   sex  math  chinese  english    sum  mean   max   min
1    b  girl  90.0     65.0     75.0  230.0  77.0  90.0  65.0
2    c   boy  87.0     76.0      0.0  163.0  55.0  87.0   0.0
0    a   boy  80.0     76.0     70.0  226.0  76.0  80.0  70.0
5    f   boy  60.0     55.0     88.0  203.0  68.0  88.0  55.0
4    e   boy  57.0      0.0     90.0  147.0  49.0  90.0   0.0
3    d  girl   0.0     70.0     80.0  150.0  50.0  80.0   0.0
  name   sex  math  chinese  english    sum  mean   max   min
1    b  girl  90.0     65.0     75.0  230.0  77.0  90.0  65.0
2    c   boy  87.0     76.0      0.0  163.0  55.0  87.0   0.0
0    a   boy  80.0     76.0     70.0  226.0  76.0  80.0  70.0
5    f   boy  60.0     55.0     88.0  203.0  68.0  88.0  55.0
4    e   boy  57.0      0.0     90.0  147.0  49.0  90.0   0.0
3    d  girl   0.0     70.0     80.0  150.0  50.0  80.0   0.0
  name   sex  math  chinese  english    sum  mean   max   min
1    b  girl  90.0     65.0     75.0  230.0  77.0  90.0  65.0
2    c   boy  87.0     76.0      0.0  163.0  55.0  87.0   0.0
0    a   boy  80.0     76.0     70.0  226.0  76.0  80.0  70.0
5    f   boy  60.0     55.0     88.0  203.0  68.0  88.0  55.0
4    e   boy  57.0      0.0     90.0  147.0  49.0  90.0   0.0
3    d  girl   0.0     70.0     80.0  150.0  50.0  80.0   0.0

### 4.1、重置索引

In [191]:
csv1 = csv.reindex(index=range(6))
print(csv1)
print(csv)

  name   sex  math  chinese  english    sum  mean   max   min
0    a   boy  80.0     76.0     70.0  226.0  76.0  80.0  70.0
1    b  girl  90.0     65.0     75.0  230.0  77.0  90.0  65.0
2    c   boy  87.0     76.0      0.0  163.0  55.0  87.0   0.0
3    d  girl   0.0     70.0     80.0  150.0  50.0  80.0   0.0
4    e   boy  57.0      0.0     90.0  147.0  49.0  90.0   0.0
5    f   boy  60.0     55.0     88.0  203.0  68.0  88.0  55.0
  name   sex  math  chinese  english    sum  mean   max   min
1    b  girl  90.0     65.0     75.0  230.0  77.0  90.0  65.0
2    c   boy  87.0     76.0      0.0  163.0  55.0  87.0   0.0
0    a   boy  80.0     76.0     70.0  226.0  76.0  80.0  70.0
5    f   boy  60.0     55.0     88.0  203.0  68.0  88.0  55.0
4    e   boy  57.0      0.0     90.0  147.0  49.0  90.0   0.0
3    d  girl   0.0     70.0     80.0  150.0  50.0  80.0   0.0

## 5、自定义函数

In [218]:
def print_name(row):
    print(row['name'],'--',row['math'])
    print('------------------')
    
def print_info(row):
    print(row)
    print('----------------------')

In [226]:
# 横向 从上往下读一行一行读
csv.apply(print_name,axis=1)

b -- 90.0
------------------
c -- 87.0
------------------
a -- 80.0
------------------
f -- 60.0
------------------
e -- 57.0
------------------
d -- 0.0
------------------

1    None
2    None
0    None
5    None
4    None
3    None
dtype: object

In [225]:
# 竖向 从左往右一列一列读
csv[['name','math']].apply(print_info)

1    b
2    c
0    a
5    f
4    e
3    d
Name: name, dtype: object
----------------------
1    90
2    87
0    80
5    60
4    57
3     0
Name: math, dtype: object
----------------------

name    None
math    None
dtype: object